{{extend 'layout.html'}}

{{block head}}
{{end}}
<!-- <script src="{{=URL('static', 'js/vue.js')}}"></script> -->
<!-- <script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";
    Like callbacks.
    var get_likers_url = "{{=URL('api', 'get_likers')}}"
    var get_reply_url = "{{=URL('api', 'get_reply_list', user_signature=False)}}";
</script> -->
<div class="main_content">
    <head>
         <script type="text/javascript">
          function Redirect_home() {
             window.location="http://127.0.0.1:8000/wordinator/default/index";
          }
          function Redirect_about() {
             window.location="http://127.0.0.1:8000/wordinator/default/about";
          }
          function Redirect_login() {
             window.location="http://127.0.0.1:8000/wordinator/default/login";
          }
         </script>
    </head>

    <body>
        <nav class="navigation_bar">
            <div class="options">
                <!-- <router-link tag="li" to="/login">Login</router-link> -->
                <!-- <router-link tag="li" to="/about">About</router-link> -->
                <a onclick="Redirect_home();">Home</a>
                <a onclick="Redirect_login();">Login</a>
                <a onclick="Redirect_about();">About</>
            </div>
        </nav>
        <div class="paragraph">
            Just an app for vocabulary
        </div>
    </body>
</div>
  <!-- ################## Reload the page on comment add ###########################3 -->
<!-- <script src="{{=URL('static', 'js/default_index.js')}}"></script> -->
