{{extend 'layout.html'}}

{{block head}}
{{end}}
<head>
<script src="{{=URL('static', 'js/helpers.js')}}"></script>
<script src="{{=URL('static', 'js/message_loop.js')}}"></script>
</head>
<div class="main_content">
    <head>
    </head>

    <body>
        <!-- <nav class="navigation_bar">
            <div class="options">
                <a onclick="Redirect_home();">Home</a>
                <a onclick="Redirect_login();">Login</a>
                <a onclick="Redirect_about();">About</a>
            </div>
        </nav> -->
        <div class="quiz-container">
            <div class="instructions">
                Wordinator is an app to perfect one's vocabulary when trying to
                learn another language.
            </div>
        </div>
    </body>
</div>
  <!-- ################## Reload the page on comment add ###########################3 -->
<!-- <script src="{{=URL('static', 'js/default_index.js')}}"></script> -->
