{{extend 'layout.html'}}

{{block head}}
{{end}}
<!-- <script src="{{=URL('static', 'js/vue.js')}}"></script> -->
<head>
<script>
    var get_words_url = "{{=URL('api', 'get_words', user_signature=True)}}";

    const run_get_words = () => {

        $.get(get_words_url, {count:5}, (result) => {
            $("#word1").value = result[0];
            $("#word2").value = result[0];
            $("#word3").value = result[0];
            $("#word4").value = result[0];
            $("#word5").value = result[0];
        });
    }
    // const submit_words = () => {
    //     }
</script>
</head>
<body>
    <div class="main_content">

        <div class="quiz-container">
            <div class="quiz-box">
                <form>
                    <h3>Word:</h3>
                    <ul class="flex-outer">
                        <!-- pull definitions -->
                        <li>
                            <label id="word1" for="definition">Def 1: </label>
                        </li>
                        <li>
                            <label id="word2" for="definition">Def 2: </label>
                        </li>
                        <li>
                            <label id="word3" for="definition">Def 3: </label>
                        </li>
                        <li>
                            <label id="word4" for="definition">Def 4: </label>
                        </li>
                        <li>
                            <label id="word5" for="definition">Def 5: </label>
                        </li>
                        <li>
                            <button id="submit" type="submit" onclick="">Submit</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
  <!-- ################## Reload the page on comment add ###########################3 -->
<!-- <script src="{{=URL('static', 'js/default_index.js')}}"></script> -->
