{{extend 'layout.html'}}

{{block head}}
{{end}}
<!-- <script src="{{=URL('static', 'js/vue.js')}}"></script> -->
<head>
<script>

        const submit_answer = (n) => {
        console.log("Submitting answer");
        window.location.href = `/wordinator/default/quiz?list_id=${n}`;
    };

</script>
</head>
<body>
    <div class="main_content">

        <div class="quiz-container">
            <div class="instructions">
                Choose the list you want to be quizzed on.
            </div>
            <div class="quiz-box">
                <form>
                    <h4 id="quiz_word">Lists:</h4>
                    <ul class="flex-outer" id="word-box">
                        <!-- pull definitions -->
                    <li>
                        <button onclick="submit_answer(4);">Button</button>
                    </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
  <!-- ################## Reload the page on comment add ###########################3 -->
<!-- <script src="{{=URL('static', 'js/default_index.js')}}"></script> -->
