{{extend 'layout.html'}}

{{block head}}
{{end}}

<script src="{{=URL('static', 'js/helpers.js')}}"></script>
<script src="{{=URL('static', 'js/message_loop.js')}}"></script>
<div class="main_content">
    <head>
    </head>

    <body>
        <div class="login-container">
            <h2>Login</h2>
            <form>
                  <ul class="flex-outer">
                    <li>
                      <label for="name">Name</label>
                      <input type="text" id="name" placeholder="Enter your name here">
                    </li>
                    <li>
                      <label for="email">Email</label>
                      <input type="email" id="email" placeholder="Enter your email here">
                    </li>
                    <li>
                      <label for="phone">Phone</label>
                      <input type="tel" id="phone" placeholder="Enter your phone here">
                    </li>

                    <li>
                      <button id="submit" type="submit">Submit</button>
                    </li>
                  </ul>
            </form>
        </div>
    </body>
</div>
  <!-- ################## Reload the page on comment add ###########################3 -->
<!-- <script src="{{=URL('static', 'js/default_index.js')}}"></script> -->
