
/* line 5, ../sass/_main.scss */
html {
    font-family: monospace;
    background-color: #BCC6CC;
}

nav.navigation_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 3px;
    background-color: #CA226B;
}

div.options {
    display: flex;
}

a {
    /* background-color: black !important; */
    color: white !important;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    /* background-color: #D1D0CE !important; */
    background-color: #CA226B !important;
}

a:first-child {
    margin-right: 5px;
}

/* Styling for the form*/
div.login-container {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.flex-outer li,
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

li {
  width: 100px;
  margin: 10px;
  font-size: 18;                   
}
