
/* line 5, ../sass/_main.scss */
html {
    font-family: monospace;
    background-color: #BCC6CC !important;
}

main {
    background-color: #D1D0CE !important;
    color: black;
}

nav.navigation_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 3px;
    background-color: #CA226B;
}

div.options {
    display: flex;
}

a {
    /* background-color: black !important; */
    color: white !important;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    /* background-color: #D1D0CE !important; */
    background-color: #CA226B !important;
    cursor: pointer;
}

a:first-child {
    margin-right: 5px;
}

/*Styling for the quiz-box*/
div.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    flex-direction: column;
}

div.instructions {
    padding: 30px;
    padding-bottom: 50px;
}

div.quiz-box {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    /* border: 3px solid grey; */
    border-radius: 5px;
    padding: 20px;
    padding-top: 1px;
    color: white;
}

ul.flex-outer {
    list-style-type: none;
    border-radius: 5px;
    background-color: #CA226B;
    padding: 10px;
    width: 100%;
}

form {
    background-color: #2C3539;
    border-radius: 5px;
}

h4 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Styling for the form*/
div.login-container {
    display: flex;
    flex-direction: column;
}

.flex-outer li,
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

li {
  margin: 10px;
  font-size: 18;
}

#submit {
  cursor: pointer;
}

.list-name-input {
  color: black;
}
